<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOGO 02: Tabuleiro da Riqueza</title>
    <link rel="stylesheet" href="../Styles/style.css">
</head>

<body>
    <div class="container">
        <!-- Menu Lateral -->
        <script src="../Scripts/menuLateral.js"></script>


        <!-- Conteúdo Principal -->
        <div class="content">
            <header>
                <h1>JOGO 02: Tabuleiro da Riqueza</h1>
            </header>

            <!-- Imagem do jogo que funciona como botão -->
            <div class="game-area">
                <img id="gameImage" src="../Assets/Images/Iniciandojogo.svg" alt="Tela de Início" class="game-image"
                    onclick="changeImage()">
                <p class="description">O Tabuleiro da Riqueza é um jogo cujo objetivo é chegar ao final com o máximo de
                    dinheiro possível.</p>
            </div>
        </div>
    </div>

    <script>
        function toggleMenu() {
            document.getElementById("sidebar").classList.toggle("expanded");
        }

        function changeImage() {
            window.location.href = 'Telajogo.html'
        }
    </script>
</body>

</html>