<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Registro</title>
    <link rel="stylesheet" href="../Styles/Paginaregistro.css">
</head>

<body>
    <div class="container">
        <div class="Icone-casa">
            <a href="./telainicial.html">
                <img src="../Assets/Images/Icone casa-Photoroom.png" alt="Home Icon">
            </a>
        </div>
        <div class="form-box">
            <div class="logo-container">
                <img src="../Assets/Images/wallet_white-Photoroom.png" alt="Logo da Empresa" class="logo">
            </div>
            <h2>Preencha as informações para se registrar!</h2>
            <form id="registerForm">
                <input type="text" id="nome" placeholder="Nome">
                <input type="text" id="telefone" placeholder="Telefone">
                <input type="email" id="email" placeholder="Email">
                <input type="password" id="senha" placeholder="Senha">
                <input type="password" id="confirmarSenha" placeholder="Confirmar Senha">
                <button type="submit">Registrar</button>
            </form>
        </div>
    </div>

    <script src="../Scripts/registro.js"></script>
</body>

</html>