<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="../Styles/PaginaEsqueceu2.css">
</head>

<body>
    <div class="container">
        <div class="icone-casa">
            <img src="../Assets/Images/Icone casa-Photoroom.png" alt="Ícone Home">
        </div>

        <div class="blue-decorator left"></div>
        <div class="blue-decorator right"></div>

        <div class="logo-container">
            <img src="../Assets/Images/wallet_white-Photoroom.png" alt="Logo" class="logo">
        </div>

        <div class="form-box">
            <h2>Redefinir Senha</h2>
            <p>Insira sua nova senha abaixo.</p>

            <form action="PaginaLogin.html">
                <input type="password" placeholder="Nova Senha" required>
                <input type="password" placeholder="Confirme a Nova Senha" required>
                <button type="submit">Redefinir Senha</button>
            </form>
        </div>
    </div>
</body>

</html>