<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formas de Pagamento</title>
    <link rel="stylesheet" href="../Styles/PaginaEscolhaPagamento.css">
</head>

<body>
    <div class="icone-casa">
        <a href="./telainicial.html">
            <img src="../Assets/Images/Icone casa-Photoroom.png" alt="Ícone Home">
        </a>
    </div>
    <div class="container">
        <h1>FORMAS DE PAGAMENTO</h1>
        <div class="payment-options">
            <button onclick="window.location.href=''">Crédito</button>
            <button onclick="window.location.href=''">Débito</button>
            <button onclick="window.location.href='PaginaPix.html'">Pix</button>
            <button onclick="window.location.href=''">Boleto</button>
        </div>
        <footer>
            <p>©2024 WalletEducation</p>
            <p>Preços | FAQs | Suporte | Configurações de conta</p>
            <p>Cursos Online WalletEducation | Termos Privacidade</p>
        </footer>
    </div>
</body>

</html>