<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos</title>
    <link rel="stylesheet" href="../Styles/style.css">
</head>

<body class="container-plano">
    <div class="pagina-plano">
        <div class="icon-home">
            <a href="./telainicial.html">
                <img src="../Assets/Images/Icone casa-Photoroom.png" alt="Ícone Home" class="home">
            </a>
        </div>

        <div class="blue-decorator left"></div>
        <div class="blue-decorator right"></div>

        <h1>Planos</h1>

        <div class="plans-container">

            <div class="plan">
                <a href="./PaginaEscolhaPagamento.html">
                    <h3>MENSAL</h3>
                    <ul>
                        <li>Acesso ilimitado ao site</li>
                        <li>Aplicação em tempo real</li>
                        <li>Aulas exclusivas</li>
                        <li>Jogos interativos</li>
                    </ul>
                    <p>R$: $$$</p>
                </a>
            </div>

            <div class="plan">
                <a href="./PaginaEscolhaPagamento.html">
                    <h3>ANUAL</h3>
                    <ul>
                        <li>Descontos exclusivos</li>
                        <li>Acesso ilimitado ao site</li>
                        <li>Aplicação em tempo real</li>
                        <li>Aulas exclusivas</li>
                        <li>Jogos interativos</li>
                    </ul>

                    <p>R$: $$$</p>
                </a>
            </div>
        </div>

        <div class="trial-message">
            <a href="./Paginaregistro.html">
                <p>Experimente <strong>GRÁTIS</strong> por 7 dias, Registre-se.</p>
            </a>
        </div>
    </div>
</body>

</html>