<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela inicial</title>
    <link rel="stylesheet" href="../Styles/telainicial.css">


</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="../Assets/Images/wallet_white-Photoroom.png" alt="Wallet Education Logo">
        </div>
        <div class="main-text">
            <p>Descubra uma nova forma de aprender finanças:<br>
                Nossa plataforma torna o conhecimento financeiro acessível e cativante para todas as idades,
                preparando cada um para um futuro mais seguro.</p>
        </div>
        <button><a href="./Paginaregistro.html" class="button">Cadastre-se</a></button>
        <br>
        <br>
        <br>
        <button> <a href="./PaginaPlano.html" class="button">Veja os possíveis
                planos</a></button>
        <br>
        <br>
        <br>
        <button> <a href="./PaginaLogin.html" class="button">Já possui uma conta? Clique aqui</a></button>
        <br>
        <br>
        <br>

    </div>
</body>

</html>