<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Jogo</title>
    <link rel="stylesheet" href="../Styles/style.css">
</head>

<body>
    <div class="container">
        <!-- Menu Lateral -->
        <script src="../Scripts/menuLateral.js"></script>


        <!-- Conteúdo Principal -->
        <div class="content">
            <header>
                <h1>JOGO 02: Tabuleiro da Riqueza</h1>
            </header>

            <!-- Imagem do jogo -->
            <div class="game-image">
                <img src="../Assets/Images/Jogo.svg" alt="Tabuleiro da Riqueza">
            </div>
        </div>

        <script>
            function toggleMenu() {
                document.getElementById("sidebar").classList.toggle("expanded");
            }
        </script>
</body>

</html>