* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #005bff, #1a1a1a);
}

.container {
    width: 100%;
    max-width: 900px;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    /* Permite que os elementos se ajustem em várias linhas */
}

.icone-casa {
    position: absolute;
    top: 0px;
    left: -310px;
}

.icone-casa img {
    width: 70px;
    height: 50px;
}

.login-container {
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 250px;
    color: white;
    margin: 0px auto;
    /* Centraliza o container de login */
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin: 10px 0 5px;
    color: #bfbfbf;
}

.login-container input {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.login-container button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container .links {
    text-align: center;
    margin-top: 15px;
}

.login-container .links a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.logo {
    margin-left: auto;
    color: white;
    text-align: center;
    width: 100%;
}

.logo img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
}

footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #cccccc;
    font-size: 12px;
}

footer p {
    margin: 5px 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }

    .login-container {
        margin: 20px;
    }

    .logo img {
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    .logo img {
        max-width: 200px;
    }
}