* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #005bff, #1a1a1a);
    overflow: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 400px;
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icone-casa {
    position: absolute;
    top: -110px;
    left: -560px;
}

.icone-casa img {
    width: 70px;
    height: 50px;
}

.logo-container {
    text-align: center;
    margin-bottom: 0px;
}

.logo {
    max-width: 250px;
    height: auto;
}

.form-box {
    background-color: #1f1f1f;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

.form-box h2 {
    color: white;
    margin-bottom: 10px;
}

.form-box p {
    color: #bfbfbf;
    font-size: 14px;
    margin-bottom: 20px;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #2e2e2e;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

.form-box input::placeholder {
    color: #bfbfbf;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.form-box button:hover {
    background-color: #0056b3;
}

.blue-decorator {
    position: absolute;
    background-color: #007bff;
    width: 300px;
    height: 150px;
    border-radius: 50px;
    opacity: 0.6;
    z-index: 0;
}

.blue-decorator.left {
    top: 20%;
    left: -689px;
    transform: rotate(30deg);
}

.blue-decorator.right {
    bottom: 15%;
    right: -630px;
    transform: rotate(-30deg);
}

/* Media Queries */
@media (max-width: 768px) {
    .logo {
        max-width: 150px;
        height: auto;
    }

    .form-box {
        padding: 32px;
        border-radius: 8px;
        margin-top: 64px;
        max-width: fit-content;
    }
}